<div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">With</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <td *ngIf="showDelete"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meeting of meetingSubscription$ | async; let i = index;">
                <!-- <th>{{i+1}}</th> -->
                <td>{{meeting.users[0].username}}</td>
                <td>{{meeting.start | date:'dd-MM-yyyy,h:mm a'}}</td>
                <td>{{meeting.end | date:'dd-MM-yyyy,h:mm a'}}</td>
                <td><button *ngIf="showDelete" class="btn btn-danger" (click)="delete(meeting.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>

</div>